In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Indian-Male-Names.csv')
df.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [3]:
name_list = df['name'].to_list()
name_list[:100]

['barjraj',
 'ramdin verma',
 'sharat chandran',
 'birender mandal',
 'amit',
 'kushal',
 'kasid',
 'shiv prakash',
 'vikram singh',
 'sanjay',
 'abhi',
 'ram dutt gupta',
 'khadak singh',
 'gurmit singh',
 'chanderpal',
 'aman',
 'khursid',
 'rajeev',
 'durgesh',
 'nahar singh',
 'ram kumar',
 'sunder paal',
 'maansingh aswal',
 'rohit',
 'rohit',
 'sparsh',
 'santosh',
 'santosh',
 'punit khandelwal',
 'dinesh',
 'gulshan',
 'arvind kumar yadav',
 'nausad',
 'gurmit singh',
 'md. afsar',
 'shiv shakti singh',
 'moti lal',
 'kausal kumar',
 'rohit',
 'rohit',
 'mohabbat ali',
 'raj kumar',
 'jaswant singh',
 'sevak @ pitambar lal',
 'chotelal',
 'amit',
 'rupesh',
 'midda',
 'dharam singh',
 'manoj yadav @ manoj',
 'ram singh',
 'preetam kumar',
 'ram kumar',
 'sarain',
 'pankaj kumar',
 'sheak shakir',
 'riyasat ali',
 'vinit katariya',
 'sumit',
 'arindra',
 'kali charan',
 'badshya khan',
 'vikash',
 'devinder chadda',
 'aman',
 'mohan singh',
 'hemant',
 'shivam',
 'yash mittal',
 'aakash',
 'chandesh',
 'sumit mitra',
 'supriyal sen',
 'gajender singh @ goldy',
 'pooran chand sharma',
 'irfan',
 'azaruddin',
 'mukul yadav',
 'pooran chand sharma',
 'manoj',
 'sanjay charee',
 'raja babu',
 'pawan',
 'sandeep',
 'rajkumar chawla',
 'parvesh',
 'mohd ataullah',
 'neeraj kumar',
 'jamil khan',
 'yogita',
 'rijul aggarwal',
 'mohd shakib',
 'rahul kumar',
 'rajender',
 'suraj',
 'rizwan',
 'sandeep',
 'md mustafa',
 'har parsad',
 'deepak']