In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Indian-Male-Names.csv')
df.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian